{% extends "template.html" %}


{% block content %}

    <div class="container" style="">
        <div class="row" style="margin-bottom:40px">
            <div class="col-lg-12" style="font-family:Arial Black;font-size:40pt;text-align:center">
                <img src="../static/images/banners/skylark.png" alt="">
            </div>
        </div>


        <div class="row" style="">
            <div class="col-lg-12 standard">
                Monday 10-5
            </div>
            <div class="col-lg-12 standard">
                Tuesday closed
            </div>
            <div class="col-lg-12 standard">
                Wednesday 10-5 midnight
            </div>
            <div class="col-lg-12 standard">
                Thursday 10-12 midnight
            </div>
            <div class="col-lg-12 standard">
                Friday 10-12 midnight
            </div>
            <div class="col-lg-12 standard">
                Saturday 10-12 midnight
            </div>
            <div class="col-lg-12 standard">
                Sunday 10-10
            </div>

            <div class="col-lg-12 standard" style="padding-top:30px">
                Children are welcome until 10
            </div>
        </div>
    </div>

{% endblock %}