{% extends "template.html" %}


{% block content %}

    <div class="row">

        <div class="col-xs-12">
            <div class="nontransbox">
                <h1>Menu</h1>
                <p>We have an extensive Chinese and Thai menu with a selection of delicious dishes and set menus to choose from.</p>
                <!--<p style="padding-bottom:0px">We also offer free items on orders:</p>-->
                <!--<ul>-->
                    <!--<li class="middle">Free Prawn Crackers for Orders Over £15</li>-->
                    <!--<li class="middle">Free Vegetarian Spring Rolls and Prawn Crackers for Orders Over £20</li>-->
                    <!--<li>BBQ Spare Ribs OR Chicken Wings with Chilli Salt and Prawn Crackers for Orders Over £30</li>-->
                <!--</ul>-->
                <!--<a href="/static/images/menu/menu.pdf" target="_blank"><div class="btn-group" style="padding-top:15px;"><button type="button" class="btn btn-info btn-lg">Click to view our menu</button></div></a>-->


                <div style="container">
                    <div class="row">

                        <div class="col-sm-6" style="">
                            <!--<div style="max-width:500px;background:#E8E8E8">-->
                            <div style="max-width:500px">
                                <div class="menuHdr">Appetisers</div>
                                <div class="menuSectionContainer" style="">
                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">1.</div>Aromatic Crispy Duck</div>
                                        <div style="clear:none">&nbsp;</div>

                                        <div class="menuItemLeft menuSubItemLeft">Quarter</div>
                                        <div class="menuItemRight">£7.30</div>
                                        <div class="menuItemCenter">&nbsp;</div>

                                        <div class="menuItemLeft menuSubItemLeft">Half</div>
                                        <div class="menuItemRight">£13.00</div>
                                        <div class="menuItemCenter">&nbsp;</div>

                                        <div class="menuItemLeft menuSubItemLeft">Whole</div>
                                        <div class="menuItemRight">£24.00</div>
                                        <div class="menuItemCenter">&nbsp;</div>

                                        <div class="menuDescr">(served with pancakes, cucumber, spring onion & hoi sin sauce)</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">2.</div>So Good Mixed Platter (For 2 Person)</div>
                                        <div class="menuItemRight">£7.50</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">3.</div>Butterfly King Prawn In Bread Crumb</div>
                                        <div class="menuItemRight">£5.50</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft">
                                            <div class="menuItemNum">4.</div>Deep Fried Salt and Pepper King Prawn
                                            <div class="menuItemChilli"><img src="/static/images/menu/chilli.png"></div>
                                        </div>
                                        <div class="menuItemRight">£5.50</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">5.</div>Deep Fried Crispy Shredded Salt and Pepper</div>
                                        <div style="clear:none">&nbsp;</div>

                                        <div class="menuItemLeft menuSubItemLeft">(C) Chicken OR (B) Beef</div>
                                        <div class="menuItemRight">£24.00</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>
                                </div>


                                <div class="menuHdr">Soup</div>
                                <div class="menuSectionContainer">
                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">21.</div>So Good Special Soup</div>
                                        <div class="menuItemRight">£2.30</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">22.</div>Chicken Sweetcorn Soup</div>
                                        <div class="menuItemRight">£2.30</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">23.</div>Chicken Noodle Soup</div>
                                        <div class="menuItemRight">£2.30</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">24.</div>Chicken Mushroom Soup</div>
                                        <div class="menuItemRight">£2.30</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">25.</div>Crab Meat Sweetcorn Soup</div>
                                        <div class="menuItemRight">£2.30</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">26.</div>Won Ton Soup</div>
                                        <div class="menuItemRight">£2.80</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">27.</div>Hot & Sour Soup</div>
                                        <div class="menuItemRight">£2.60</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft">
                                            <div class="menuItemNum">28.</div>Vegetarian Hot & Sour Soup
                                            <div class="menuItemVegitarian">V</div>
                                        </div>
                                        <div class="menuItemRight">£2.20</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">29.</div>Egg Tomato Soup</div>
                                        <div class="menuItemRight">£2.20</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>
                                </div>


                                <div class="menuHdr">Curry</div>
                                <div class="menuSectionContainer">
                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">30.</div>Special</div>
                                        <div class="menuItemRight">£5.20</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">31.</div>King Prawn</div>
                                        <div class="menuItemRight">£5.20</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">32.</div>Chicken</div>
                                        <div class="menuItemRight">£4.50</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">33.</div>Beef</div>
                                        <div class="menuItemRight">£4.50</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">34.</div>Char Sui</div>
                                        <div class="menuItemRight">£4.50</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft"><div class="menuItemNum">35.</div>Duck</div>
                                        <div class="menuItemRight">£5.50</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft">
                                            <div class="menuItemNum">36.</div>Mushroom
                                            <div class="menuItemVegitarian">V</div>
                                        </div>
                                        <div class="menuItemRight">£4.00</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>

                                    <div class="menuItemContainer">
                                        <div class="menuItemLeft">
                                            <div class="menuItemNum">37.</div>Onion
                                            <div class="menuItemVegitarian">V</div>
                                        </div>
                                        <div class="menuItemRight">£4.00</div>
                                        <div class="menuItemCenter">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="menuImgContainer">
                                <img src="/static/images/menu/orig/2SoGoodMixedPlatter.jpg">
                                <div class="menuImgDescr">1. So Good Mixed Platter</div>
                            </div>

                            <div class="menuImgContainer">
                                <img src="/static/images/menu/orig/3ButterflyKingPrawnInBreadCrumb.jpg">
                                <div class="menuImgDescr">3. Butterfly King Prawn</div>
                            </div>

                            <div class="menuImgContainer">
                                <img src="/static/images/menu/orig/6SpareRibs.jpg">
                                <div class="menuImgDescr">6. Spare Ribs</div>
                            </div>

                            <div class="menuImgContainer">
                                <img src="/static/images/menu/orig/17DuckSpringRolls.jpg">
                                <div class="menuImgDescr">17. Duck Spring Rolls</div>
                            </div>

                            <div class="menuImgContainer">
                                <img src="/static/images/menu/orig/57KongPoChicken.jpg">
                                <div class="menuImgDescr">57. Kun Po Chicken</div>
                            </div>

                            <div class="menuImgContainer">
                                <img src="/static/images/menu/orig/125LemonChicken.jpg">
                                <div class="menuImgDescr">125. Lemon Chicken</div>
                            </div>

                            <div class="menuImgContainer">
                                <img src="/static/images/menu/orig/143BeefBlackBeanSauce.jpg">
                                <div class="menuImgDescr">143. Beef with Green Pepper in Black Bean Sauce</div>
                            </div>

                            <div class="menuImgContainer">
                                <img src="/static/images/menu/orig/180MixedVegetableswithCashewNuts.jpg">
                                <div class="menuImgDescr">180. Mixed Vegetables with Cashew Nuts</div>
                            </div>

                            <div class="menuImgContainer">
                                <img src="/static/images/menu/orig/188ChickenChowMein.jpg">
                                <div class="menuImgDescr">188. Chicken Chow Mein</div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}